* 
{
	font-family: Impact, Charcoal, sans-serif;
}
body 
{
	background-color: #8B0000;
	font-size: 100%;
}
header#Navigation_Banner
{
	border-radius: 25px;
	background: linear-gradient(to right, black, black, #8B0000);
	width: 95%;
	height: 125px;
	color: white;
}
h1
{
	padding-top:10px;
}
header#Navigation_Banner>img#logo
{
	padding-left: 15px;
	padding-top: 15px;
	float: left;
}

nav>ul>li
{
	list-style-type: none;
	display: inline;
	margin-right: 20px;
	display: inline-block;
}
a
{
	border-radius:10px;
	vertical-align: sub;
	box-shadow: 5px 5px 2px #282828;
	padding: 10px 5px 5px 10px;
	background: radial-gradient(gray, gray, gray, white);
	text-decoration: none;
	font-size:15px;
	letter-spacing: 5px;
}
a:link
{
	color: white;
	text-shadow: 2px 0 10px white;
}
a:visited
{
	color: white;
	text-shadow: 0 0 10px gray;
}
a:hover
{
	color: darkred;
	text-shadow: 0 0 10px gray;
}
a:active
{
	color: black;
	text-shadow: 0 0 10px gray
}
